{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - Saison #{{ season.number }} - {{ season.year }}{% endblock %}

{% block body %}
    <div class="media">
            <p>{{ season.description }}</p>
            {% for episode in episodes %}
                <a href="{{ path('program_episode_show',{programId: season.program.id, seasonId: season.id, episodeId: episode.id }) }}">{{ episode.number }} - {{ episode.title }}</a>
                <p>{{ episode.synopsis }}</p>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>
{% endblock %}